body {
    background-color: #232323;
}



#titleHeading {
    font-size: 3.5rem;
    color: black;
}



/* accordion */
.accordion {
    background-color: #232323;
    /* color: #fbff00; */
    color: #fbff00;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.5rem;
    transition: 0.4s;
    font-family: 'Bebas Neue', cursive;
  }
  
  .active, .accordion:hover {
    background-color: #fbff00;
    color: #232323;
  }
  
  .panel {
    padding: 0 18px;
    background-color: #232323;
    color: white;
    font-family: 'Bebas Neue', cursive;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.2rem;
  }
/* accordion ends */

#eventsList::marker {
    color: #fbff00;
    content: ">";
}

#emailContact {
    color: white;
}

/* contact form */
#name {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}
#emailinsta {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}
#message {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}
#submitButton {
    background-color: #fbff00;
    border: none;
    color: #232323;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
/* contact form ends */

/* modal starts */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #232323;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #232323;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #fbff00;
  color: #232323;
}

.modal-body {padding: 2px 16px;}

/* .modal-footer {
  padding: 2px 16px;
  background-color: #fbff00;
  color: #232323;
} */
.myBtn {
  background-color: transparent;
  border: none;
  color: #fbff00;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 4px 2px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: white 1px solid;
}

/* modal ends */

@media (max-width : 500px) {
  .events {
    width: 90%;
  }
}

#leftName {
  color: white;
  font-family: 'Bebas Neue', cursive;
  float: left;
  padding-left: 5%;
  padding-top: 5%;
  font-size: 3rem;

}
#rightName {
  color: white;
  font-family: 'Bebas Neue', cursive;
  float: right;
  padding-right: 5%;
  padding-top: 5%;
  font-size: 3rem;

}

/* footer */
#logo {
  width: 3em;
}
#copyright {
  color: white;
  font-family: 'Bebas Neue', cursive;
}
#footer {
  /* position: fixed; */
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #161616;
  text-align: center;
}